.sec1 {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    height: 75vh;
    color: rgb(67, 21, 95);
}

.sec1 #photo {
    width: 30%;
}

.sec1 #photo img {
    width: 100%;
}

.sec1 #content {
    font-family: "Bruno Ace SC", sans-serif;
    font-weight: 400;
    font-style: normal;
    width: 50%;
    font-size: 32px;
    text-decoration-line: underline;
    line-height: 20px;
}

.sec1 #content h1 {
    color: #8C489F;
}

#sec1-btn {
    border: 3px solid #8C489F;
    background-color: white;
    color: #8C489F;
    font-size: 20px;
    font-family: "Bruno Ace SC", sans-serif;
    font-weight: 400;
    font-style: normal;
    padding: 10px 20px;
}

#sec1-btn:hover{
    background-color:#443266;
    color: #F1F0FF;
    box-shadow: 3px 3px 10px #443266;
}

#sec1-btns {
    position: relative;
    left: 50px;
    top: -80px;
    width: 40%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
}

#sec1-btns .fa-brands{
    font-size: 40px;
    color:#443266;
    margin: 10px;
}

#sec1-btns .fa-brands:hover{
    color: #8C489F;
}


@media screen and (max-width:1240px) {
    .sec1 #content{
        font-size: 25px;
    }
}

@media screen and (max-width:1160px) {
    .sec1 #content{
        font-size: 19px;
    }
}

@media screen and (max-width:860px) {
    .sec1 #content{
        font-size: 16px;
    }
}

@media screen and (max-width:730px) {

    .sec1 #content{
        width:400px;
        font-size: 15px;
    }
}

@media screen and (max-width:585px) {

    .sec1{
        height:90vh;
        flex-wrap: wrap;
        flex-direction:column-reverse;
    }

    .sec1 #content{
        width:400px;
        font-size: 17px;
        text-align: center;
    }

    .sec1 #photo{
        width:200px
    }

    #sec1-btns {
        margin-top: 30px;
        position: relative;
        left: 30%;
    }
}

@media screen and (max-width:400px) {
    .sec1 #content{
        width:320px;
        font-size: 14px;
        line-height: 10px;
        text-align: center;
    }
}

@media screen and (max-width:338px) {
    .sec1 #content{
        width:300px;
        font-size: 13px;
    }
}